/* ===============================
   Kehilati – Prefill Field Only
   =============================== */

/* מדגישים רק את אזור העריכה */
.form_data_element_wrap.prefill-highlight .field {
  background:none; /* כחול עדין */
  border-radius: 8px;
  padding: 0px;
}

/* input עצמו */
.form_data_element_wrap.prefill-highlight input,
.form_data_element_wrap.prefill-highlight textarea,
.form_data_element_wrap.prefill-highlight select {
  background: none;
}

/* קובץ / חתימה */
.form_data_element_wrap.prefill-highlight .file-upload-container,
.form_data_element_wrap.prefill-highlight .signature-field-container {
  background: none;
  border-radius: 8px;
  padding: 0px;
}
